@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
    padding: 10px;
}

.alert-info {
    color: blue;
    background-color: lightblue; 
}

.alert-danger {
    color: red;
    background-color: lightpink;
}